body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.dn-scene, .sky, .stars {
  height: 100vh;
}

.sky {
  background: linear-gradient(darkblue, lightblue);
}

.sun-orbit {
  --sun-size: 5vw;
  --orbit-diameter: 60vw;
  --position-angle: 0;
  --day-duration: .3s;
  --month-duration: calc(var(--day-duration) * 29.53);
  position: absolute;
  left: calc(50% - var(--orbit-diameter) / 2);
  top: calc(100% - var(--orbit-diameter) / 2);
  width: var(--orbit-diameter);
  height: var(--orbit-diameter);
  animation: rotation var(--day-duration) linear infinite;
  /* background: #0002; */
  /* transform: rotate(180deg); */
}

.sun, .moon {
  width: var(--sun-size);
  height: var(--sun-size);
  background: yellow;
  border-radius: 50%;
}

.moon {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: rotate(45deg);
  animation: rotation var(--day-duration) linear infinite reverse;
}

.earth-shadow {
  background: black;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  animation: month var(--month-duration) linear calc(var(--day-duration) * 29.53 * -1.5) infinite alternate;
}

@keyframes rotation {
  to {
    transform: rotate(360deg)
  }
}

@keyframes month {
  to {
    transform: translateX(-100%)
  }
}
